* {
    font-family: 'Noto Serif TC', serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.nav-title {
    position: relative;
    width: 30%;
    margin-right: 35%;
    font-size: 15px;
}

.header {
    background-color: #47896e;
    color: white;
    padding: 1.5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.header-logo {
    max-width: 50px;
    margin-top: -2%;
    margin-bottom: -2%;
}

.header-options {
    display: flex;
    margin-left: 30%;
}

.header-links {
    display: flex;
    margin-right: 20%;
}

.header-links a,
.header-options a {
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
}

form {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1%;
    border: none;
}

.form-img {
    max-width: 75%;
    flex-wrap: wrap;
    margin-top: 2%;
    border-radius: 3%;
    transition: transform 0.3s ease-in-out;
}

.form-img:hover {
    transform: scale(1.05);
}

.product {
    width: calc(30% - 20px);
    margin: -1%;
    text-align: center;
    margin-bottom: 5%;
}

.product p {
    font-size: 20px;
}

footer {
    background-color: #47896e;
    color: white;
    text-align: center;
    padding: 1%;
    bottom: 0;
    width: 100%;
    height: fit-content;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

.name {
    position: relative;
}

.nav-name {
    display: flex;
    justify-content: space-evenly;
}

.nav-name>li {
    float: left;
}

.nav-title li {
    list-style: none;
    position: relative;
}

.nav-title ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-name>li>a:hover {
    color: #C0A06A;
}

.subname {
    display: block;
    position: absolute;
    z-index: 2;
}

.subname li a {
    background-color: #47896e;
    border: 0.1px solid gray;
    line-height: 70px;
    font-size: 13px;
    padding: 0 15px;
    width: 30px;
    height: 65px;
}


.subname li a:hover {
    background-color: rgb(172, 172, 172);
}

.nav-name a {
    text-decoration: none;
    color: inherit;
    display: block;
    line-height: 30px;
    font-family: 'Noto Serif TC', serif;
}

.nav-name ul {
    display: none;
}

.nav-name .name:hover ul {
    display: block;
}

.topic-title {
    margin-left: 13%;
    margin-top: 3%;
    text-align: left;
}

.add-to-cart {
    display: inline-block;
    width: 48%;
    padding: 10px;
    margin-top: -5%;
    background-color: #47896e;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.add-to-cart:hover {
    background-color: #6a8397;
}